@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

*{
	box-sizing:border-box;
}

html, body ,root {
	margin : 0 auto;
	padding: 0;
	-webkit-text-size-adjust: none;
	min-width : 320px;
	max-width : 980px;	
	overflow:auto;
	height:100%;
}

.container{
	width : 100%;	
	font-family: 'Nanum Gothic', sans-serif;
	position:static;
}


a {
	text-decoration : none;
}

input:focus{
	outline:none;
}
