@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

*{
	box-sizing:border-box;
}

html, body ,root {
	margin:0;
	padding:0;
	z-index:-2;
}

.container{
	width : 100%;	
	font-family: 'Noto Sans KR', sans-serif;
	position:static;
}


a {
	text-decoration : none;
}

input:focus{
	outline:none;
}
