.categoryheadnav{
	border-top:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(0,0,0,0.2);
	display : table;
	width : 100%;
	background : white;
	height: 40px;
	table-layout: fixed;
	border-collapse : collapse;
	margin-bottom:30px;
}