.categorynavelem, .selected, .categorynavelem:visited{
	display : table-cell;
	vertical-align : middle;
	border : 1px solid #444;
	text-align : center;
	border-collapse : collapse;
	color:#444;
	-webkit-tap-highlight-color : transparent;
	text-decoration:none;
}

.selected{
	background : #ee7047;
	color: white;
}

.categorynavelem a, .categorynavelem:visited{
	color:#444;
}