.floornav {
	border-top:1px solid rgba(0,0,0,0.2);
	display : table;
	width : 100%;
	background : white;
	height: 40px;
	table-layout: fixed;
	border-collapse : collapse;
	font-size:14px;
}

.floorlink{
	display : table-cell;
	vertical-align : middle;
	text-align : center;
	border-collapse : collapse;
	-webkit-tap-highlight-color : transparent;
}

.floorlink a{
	color : #444;
}

.selected{
	color : white;
}

@media screen and (min-width:768px){
	.floornav{
		font-size:16px;
	}
}
