.floornav {
	border : 1px solid #444;
	display : table;
	width : 100%;
	background : white;
	height: 40px;
	table-layout: fixed;
	border-collapse : collapse;
	margin-bottom:10px;
}

.floorlink{
	display : table-cell;
	vertical-align : middle;
	border : 1px solid #444;
	text-align : center;
	border-collapse : collapse;
	-webkit-tap-highlight-color : transparent;
}

.floorlink a{
	color : #444;
}

.selected{
	color : white;
	background :#ee7047;
}
