.map {
	margin : 30px 5%;
	
}

.map img{
	
}



.categorynav{
	
	border : 1px solid black;
	display : table;
	width : 100%;
	background : white;
	height: 40px;
	table-layout: fixed;
	border-collapse : collapse;
}

.selected{
	color : white;
	background :#ee7047;
}

.map img, .map a, .map canvas{
	-webkit-tap-highlight-color : transparent;
	outline:none;
}