.headernav {
	border-bottom:1px solid rgba(0,0,0,0.2);
	display : table;
	width : 100%;
	background : white;
	height: 40px;
	table-layout: fixed;
	border-collapse : collapse;
}

.link, .selected{
	display : table-cell;
	vertical-align : middle;
	text-align : center;
	-webkit-tap-highlight-color : transparent;
	border-collapse : collapse;
	font-size:14px;
	border-right:
}

.link a,.link a:visited{
	color : #444;
}

.selected a,.selected a:visited{
	color:#e24715;
}

.linkcontent{
	border-right:1px solid rgba(0,0,0,0.2);
}

@media screen and (min-width:768px){
	.link, .selected{
		font-size:16px;
	}
}

