.listoreimg{
	width : 100%;
	height : 110px;
	border : 1px solid rgba(0,0,0,0.2);
	border-collapse:collapse;
	margin-bottom:5px;
}

.storename{
	font-size:15px;
	margin-bottom:5px;
}

.listinfotext, .listinfotext:visited{
	color : black;
	text-decoration:none;
}

.keyword{
	font-size:10px;
}

.subinfo p{
	font-size:13px;
	color:#8d8d8d;
	margin:1px auto;
}

#lastsub{
	margin-bottom:0;
}

.storename{
	margin-top : 0;
}